@using System.Linq
@using DarkSky.Messaging.Models
@{
    Script.Include("TemplateLayoutPicker.js");
    var layouts = ((IEnumerable<MessageTemplatePart>)ViewBag.Layouts).ToList();
    var currentValue = ViewData.TemplateInfo.FormattedModelValue as int?;
    var options = layouts.Select(x => new SelectListItem { Text = x.Title, Value = x.Id.ToString(), Selected = x.Id == currentValue });
    var editUrl = currentValue != null ? Url.Action("Edit", "Admin", new {id = layouts[0].Id, area = "Contents"}) : "#";
    var style = currentValue != null ? "display:inline;" : "display:none;";
}
<div class="layout-picker-wrapper">
    @Html.DropDownList("", options, "", new RouteValueDictionary { {"data-load-layout-url", Url.Action("LayoutContent", "MessageTemplate", new { area = "DarkSky.Messaging" })}})
    <a href="@editUrl" style="@style" data-href="@Html.Raw(Url.Action("Edit", "Admin", new { id = "id", area = "Contents" }))">@T("Edit Layout")</a>
</div>